@media (max-width: 1350px) {




    .web-des {
        top: 570px;
        /* left:52vw; */
    }

    .web-dev img {
        width: 600px;
    }

}


@media (max-width: 1200px) {



    .whole-body {
        width: 1000px;
    }


    .main-0 {
        padding: 10px 10px;
    }


    .h,
    .h-0 {
        font-size: 25px;
    }

    .h span,
    .h-1 {
        font-size: 25px;
    }

    .main-0 p {
        margin-top: 2px;
    }

    .btn-enroll {
        margin-top: 10px;
        width: 100px;
        height: 30px;
    }

    .portfolio {
        width: 1000px;
    }

}



@media (max-width:1150px) {


    .whole-body {
        width: 900px;
    }



    .portfolio {
        width: 900px;
        top: 313px;
    }

    .main-1 img {
        width: 500px;
    }

    .about {
        margin: 60px 15px 0;
    }

    .web-des {
        top: 493px;
    }

    .web-dev img {
        width: 500px;
    }
}

@media (min-width: 1050px) {
    .nav-mid{
        display: none;
    }
    
}
@media (max-width: 1050px) {

    .container-0 {
        justify-content: center;
    }

    .container-1 {
        display: none;
    }

    .container-2 {
        display: none;
    }



    .foot {
        display: none;
    }
}


@media (max-width: 950px) {
    .whole-body {
        width: 700px;
    }

    .main-0 {
        margin: 0;
        background-image: url(img/Cute-child-girl.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .h,
    .h-0 {
        color: #fff;
    }

    .main-0 p {
        color: #fff;

    }

    .main-1 {
        display: none;
    }

    .portfolio {
        width: 700px;
        top: 229px;
    }


    .about {
        margin: 60px auto auto;
        padding: 10px 0;
    }

    .about-1 {
        display: flex;
        flex-direction: column;
    }

    .web-dev {
        margin: auto;
    }

    .web-dev img {
        width: 700px;
    }

    .web-des {
        position: static;
        width: auto;
    }
}

@media (max-width: 800px) { 

    .count{
        width: 150px;
    }

    .main-2{
        width: 97vw;
        margin: auto;
    }

    .whole-body{
        width: 97vw;
    }
    .portfolio{
        width: 97vw;
        position: unset;
    }

    .about{
        margin: auto;
        padding:0;
    }
    .about-0{
        padding:4px 4px;
    }
    .web-dev img{
        width: 95vw;
    }

    
}